<ion-view view-title="History">
    <ion-content>


        <ion-item>

            <label class="item item-input item-select">

                Filter by

                <select name="filter" id="filter"
                        ng-model="filter"
                        ng-options="stationBay.label for stationBay in stationsBays"
                        ng-change="searchByStationBay(filter)">
                </select>
            </label>

        </ion-item>


        <!--<label class="item item-divider item-text">-->
        <!--<input type="search" placeholder=" Station Name" ng-model="search.stationName">-->
        <!--</label>-->
        <!--<label class="item item-divider item-text">-->
        <!--<input type="search" placeholder=" Bay Number" ng-model="search.bayNumber">-->
        <!--</label>-->


        <ion-list class="list">

            <ion-item class="item item-divider item-text-wrap" ng-repeat="n in notifications|filter:search">
                <ion-item>
                    <button ion-button large class="icon ion-android-warning"
                            ng-class={"red-button":n.ackType=='ack1',"yellow-button":n.ackType=='ack2'}>
                    </button>
                    Station: {{n.stationName}} Bay: {{n.bayNumber}} - {{n.description}}
                </ion-item>
            </ion-item>


        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
