<ion-view view-title="Home">
    <ion-content>
        <div class="item img-center">
            <a href="http://www.whirlpool.it" class="item item-icon-left">
                <img ng-src="./images/xhdpi/whirlpool-logo.png"/>
            </a>
        </div>
        <div class="row">
            <ion-item class="row">
                <div class="col col-40" style="margin-left: 2%;"><b>Station Name</b></div>
                <div class="col col-13"><b>Bay1</b></div>
                <div class="col col-13"><b>Bay2</b></div>
                <div class="col col-13"><b>Bay3</b></div>
                <div class="col col-13"><b>Bay4</b></div>
            </ion-item>
        </div>

        <ion-list>
            <ion-item ng-repeat="(stationName, bays) in entries">
                <div class="row">
                    <div nav-clear menu-close class="col col-40 item-text-wrap">
                        <a class="button button-icon icon icon ion-thermometer"
                           href="#/app/{{entries[$index].bayCode}}"> {{stationName}}
                        </a>
                    </div>
                    <ion-item class="col col-13" ng-repeat="bay in bays track by $index" style="border-style: none;">
                        <a href="#"
                                ng-class="getBackgroundColor(bay.stateInfo.type)">
                            {{bay.stateInfo.stateCode}}
                        </a>
                    </ion-item>
                </div>
            </ion-item>
        </ion-list>
        <div class="row" class="examle03FlexContainer">
            <ion-item nav-clear menu-close class="row card home item-text-wrap">
                <div class="item item-text-wrap">
                    <h3> Project </h3>
                    <a href="http://beincpps.eu" class="item item-icon-left">
                        <img src="./images/xhdpi/beincpps-logo.png"/>
                    </a>
                </div>
                <div class="item item-text-wrap">
                    <h3> Powered by </h3>
                    <a href="http://eng.it" class="item item-icon-left">
                        <img src="./images/xhdpi/eng-logo.png"/>
                    </a>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
