<ion-view view-title="Inbox">
    <ion-content>
        <div class="bar bar-header">
            <div class="h1 title">Notifications</div>
            <button ng-if="!isRemoveAllEnabled" class="button button-assertive icon ion-close-circled"
                    ng-click="enableRemoveAll()"></button>
            <button ng-if="isRemoveAllEnabled" class="button button-assertive" ng-click="removeAll()">Remove all
            </button>
        </div>
        <br/>
        <br/>
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
            <ion-item class="item item-divider item-text-wrap" ng-repeat="(key,value) in notificationsMap track by key">
                <ion-item href="#">
                    <div class="row">
                        <div class="col col-10">
                            <i ng-class="{'button icon ion-alert red' :n.ackType=='ack1',
                            'button icon ion-android-warning yellow':n.ackType=='ack2'}"></i>
                        </div>
                        <div class="row">
                            <div class="col90">
                                <h2>Station: {{value.stationName}} Bay: {{value.bayNumber}} - {{value.description}}</h2>
                                <br>
                                Date: {{value.timestamp}}
                            </div>
                        </div>
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteAcknowledge(key)">
                    </ion-option-button>
                </ion-item>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
