/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

$extended-footer-height: 70px;

// Include all of Ionic
@import "../bower_components/ionic/scss/ionic";

@import "common";
@import "home";
@import "map";
@import "login";
@import "dashboard";

@font-face {
  font-family:  'Roboto', sans-serif !important;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

.item-alarm {background-color: #e42112;}
.item-warning {background-color: #ffc900}
.buttons {float:right}
.red-button {background: red;}
.yellow-button {background: yellow;}
.green-button {background: green;}
.col-center {text-align: center;}
.item {border-style: none;}

.red {
  color: red;
};

.yellow {
  color: #ffc900;
};


.notification-style-text{
  margin-left: 2%;
  font-size: 20px !important;
}

.notification-style-date{
  margin-left: 2%;
  font-size: 18px !important;

}

